section.feed {
  width: 100%;
}
section.feed .main-title {
  font-size: 36px;
  line-height: 10vh;
}
section.feed .block-aside {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: calc(var(--offset-base-size) * 15);
}
section.feed .block-aside .left-aside {
  width: 50%;
}
section.feed .block-aside .right-aside {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: calc(var(--offset-base-size) * 6);
}
section.feed .block-aside .right-aside .feed-info .block-status {
  display: flex;
  gap: calc(var(--offset-base-size) * 9);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
section.feed .block-aside .right-aside .feed-info .block-status .block-ready,
section.feed .block-aside .right-aside .feed-info .block-status .block-in-work {
  width: 100%;
}
section.feed .block-aside .right-aside .feed-info .block-status .block-ready .title,
section.feed .block-aside .right-aside .feed-info .block-status .block-in-work .title {
  font-size: 24px;
}
section.feed .block-aside .right-aside .feed-info .block-status .block-ready ul,
section.feed .block-aside .right-aside .feed-info .block-status .block-in-work ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 2);
  column-gap: calc(var(--offset-base-size) * 16);
  flex-wrap: nowrap;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
section.feed .block-aside .right-aside .feed-info .block-status .block-ready ul > li,
section.feed .block-aside .right-aside .feed-info .block-status .block-in-work ul > li {
  line-height: 24px;
  font-size: 28px;
}
section.feed .block-aside .right-aside .feed-info .block-status .block-ready ul > li {
  color: #00CCCC;
}
section.feed .block-aside .right-aside .feed-info .title {
  font-size: 24px;
  line-height: 30px;
}
section.feed .block-aside .right-aside .feed-info .complete-total,
section.feed .block-aside .right-aside .feed-info .complete-today {
  line-height: 120px;
  font-size: 144px;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
