.ingredient-info {
  background-color: #1C1C21;
  width: 720px;
  width: calc(var(--offset-base-size) * 180);
  max-height: 540px;
  max-height: calc(var(--offset-base-size) * 135);
  border-radius: 40px;
}
.ingredient-info .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 64px;
  line-height: calc(var(--offset-base-size) * 16);
}
.ingredient-info .modal-header .close-icon-wrapper {
  cursor: pointer;
}
.ingredient-info .modal-header .close-icon-wrapper svg {
  vertical-align: middle;
  cursor: pointer;
}
.ingredient-info .icon-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  width: calc(var(--offset-base-size) * 130);
  height: 240px;
  height: calc(var(--offset-base-size) * 60);
}
.ingredient-info .icon-wrapper img {
  height: 100%;
  width: auto;
}
.ingredient-info ul.composition-list {
  display: flex;
  gap: calc(var(--offset-base-size) * 5);
  justify-content: space-between;
  text-align: center;
}
.ingredient-info ul.composition-list li.composition-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ingredient-info ul.composition-list li.composition-item .title {
  font-size: calc(var(--offset-base-size) * 4);
}
.ingredient-info ul.composition-list li.composition-item .value {
  font-size: calc(var(--offset-base-size) * 7);
}
