.modal-body {
  background-color: #1C1C21;
  width: 720px;
  width: calc(var(--offset-base-size) * 180);
  max-height: 540px;
  max-height: calc(var(--offset-base-size) * 135);
  border-radius: 40px;
}
.modal-body .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 64px;
  line-height: calc(var(--offset-base-size) * 16);
}
.modal-body .modal-header .close-icon-wrapper {
  cursor: pointer;
}
.modal-body .modal-header .close-icon-wrapper svg {
  vertical-align: middle;
  cursor: pointer;
}
